.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #EDEFEE;;
    flex-wrap: wrap;
  }

    .logo {
        display: flex;
        width: 280px;
        height: 70px;
        object-fit: cover;
    }

  .logo img {
    width: auto;

  }

   /* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
    .header {

      text-align: center;
      padding: 16px;
    }
}